<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>UrbanTrove - Login</title>

    <link class="favicon" rel="icon" type="image/x-icon" href="{{ url_for('static', filename='images/favicon.ico') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='Styles/general/header.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='Styles/Login/login.css') }}">
</head>
<body>
    <header>
        <div class="left">
            <a href="{{ url_for('index') }}" class="home-button">
                <img class="home" src="{{ url_for('static', filename='images/home-icon.png') }}" alt="Home">
            </a>
        </div>
        <div class="middle">
            <img class="site-name" src="{{ url_for('static', filename='images/sitename.jpg') }}" alt="UrbanTrove">
        </div>
        <div class="right"></div>
    </header>

    <main>
        <section>
            <div class="box">
                <p class="login">Login</p>
                <form action="{{ url_for('login') }}" method="POST" name="forms" onsubmit="return Validation();">
                    <div class="email-label">
                        <label for="email">EMAIL</label>
                        <input type="email" id="email" name="email" required>
                        <div class="email-errors js-email-error"></div>
                    </div>
                    <div class="password-label">
                        <label for="password">PASSWORD</label>
                        <input type="password" id="password" name="password" required>
                        <div class="password-errors js-pass-error"></div>
                    </div>
                    <input type="submit" class="submit" value="Sign In">
                    <div class="signup-link"><a class="link" href="{{ url_for('signup') }}">Not a user?</a></div>
                </form>
            </div>
        </section>
    </main>
    
    <div class="popup" id="custom-popup">
        <div class="popup-content">
            <h2>Notification</h2>
            <p id="popup-message">This is a custom pop-up message.</p>
            <button class="close-btn" onclick="closePopup()">Close</button>
        </div>
    </div>

    <script>
        function showPopup(message) {
            document.getElementById("popup-message").textContent = message;
            document.getElementById("custom-popup").style.display = "flex";
        }

        function closePopup() {
            document.getElementById("custom-popup").style.display = "none";
        }

        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for category, message in messages %}
                    window.onload = function() {
                        showPopup("{{ message }}");
                    }
                {% endfor %}
            {% endif %}
        {% endwith %}
    </script>
    
    <script src="{{ url_for('static', filename='Scripts/Login/js-validation.js') }}"></script>
    
</body>
</html>
